Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

CREATE TABLE "Inventory" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "Status" integer NOT NULL,
    "ItemType" integer NOT NULL,
    "CreatedOnUtc" timestamp with time zone NOT NULL,
    "UpdatedOnUtc" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_Inventory" PRIMARY KEY ("Id")
);

CREATE UNIQUE INDEX "IX_Inventory_Id" ON "Inventory" ("Id");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20230924085255_Initial', '7.0.10');

COMMIT;


